node_modules/
dist/
build/
*.log
.DS_Store
Thumbs.db
scratch-forks/scratch-vm/node_modules/
scratch-forks/scratch-gui/node_modules/
scratch-forks/scratch-gui/build/

out/
scratch-forks-old/

scratch-forks-old/
windows_sigining_cert.pfx
